{% extends 'vote/base.html' %}

{% block title %}
<title>详情页</title>
{% endblock %}

{% block body %}
    {{ problem.title }}
    <ul>
        <form action="{% url 'vote:detail' problem.id %}" method="post">
            {% for a in problem.answer_set.all %}

            {% if forloop.counter == 1 %}

            <li><input type="radio" checked name="res" value="{{ a.id }}"> {{ a.choice }}</li>

            {% else %}

            <li><input type="radio" name="res" value="{{ a.id }}"> {{ a.choice }}</li>

            {% endif %}

            {% endfor %}
            <input type="submit" value="提交">
        </form>
    </ul>
{% endblock %}