{% extends 'vote/base.html' %}

{% block title %}
<title>列表页</title>
{% endblock %}

{% block body %}
    {% if request.user and request.user.is_authenticated %}
        <h3>当前用户为 {{ request.user }} <a href="{% url 'vote:logout' %}">退出</a>  </h3>
    {% endif %}
    <h3>问题列表</h3>

    {% if problems %}
    <ul>
        {% for problem in problems %}
            <li>
                <a href="{% url 'vote:detail' problem.id %}">{{ problem.title }}</a>
                <a href="{% url 'vote:result' problem.id %}">查看结果</a>
            </li>
        {% endfor %}

    </ul>
    {% else %}
    没有书
    {% endif %}
{% endblock %}